	body {
		padding:0;
		margin:0;
	}
	.control_pad {
		z-index:1;
		position:absolute;
		width: 250px;
		height: 200px;
		border:solid 3px #666;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		padding:3px;
		-webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, .2);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DBF7F8), to(#88E1E6));
		background: -moz-linear-gradient(100% 100% 90deg, #88E1E6, #DBF7F8)
	}
	.control_pad:before {
		content:"\00a0";
		display:block; /* reduce the damage in FF3.0 */
		position:absolute;
		width:0;
		height:0;
		top:50px; /* controls vertical position */
		left:-60px; /* value = - border-left-width - border-right-width */
		bottom:auto;
		border-width:15px 30px;
		border-style:solid;
		border-color:transparent #666 transparent transparent;
	}
	.control_pad:after {
		content:"\00a0";
		display:block; /* reduce the damage in FF3.0 */
		position:absolute;
		width:0;
		height:0;
		top:56px; /* value = (:before top) + (:before border-top) - (:after border-top) */
		left:-42px; /* value = - border-left-width - border-right-width */
		bottom:auto;
		border-width:9px 21px;
		border-style:solid;
		border-color:transparent #C2F0F3 transparent transparent;
	}
	.control_pad .content {
		height:100%;
		width:100%;
		overflow-x:inherit;
		overflow-y:auto;
	}
	.control_pad .content .text_field {
		height:40px;
		width:90%;
		word-wrap:break-word;
		resize:both;
	}
	.control_pad .content .tab {
		border-bottom: 1px solid #CCC;
		padding: 10px 0px;
		font-size:13px;
		line-height:20px;
		font-weight:bold;
	}
	.control_pad .content .button {
		display: inline-block;
		zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
		*display: inline;
		margin: 0;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		font: 14px/100% Arial, Helvetica, sans-serif;
		padding: .5em .8em .55em;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		-webkit-border-radius: .5em; 
		-moz-border-radius: .5em;
		border-radius: .5em;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
		vertical-align: baseline;
	}
	.control_pad .content .button:hover {
		text-decoration: none;
	}
	.control_pad .content .button:active {
		position: relative;
		top: 1px;
	}
	.control_pad .content .select {
		position: relative;
		top: 1px;
	}
	.control_pad .content .blue {
		color: #d9eef7;
		border: solid 1px #0076a3;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
	}
	.control_pad .content .blue:hover {
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
	}
	.control_pad .content .blue:active {
		color: #80bed6;
		background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
		background: -moz-linear-gradient(top,  #0078a5,  #00adee);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
	}
	.control_pad .content .orange {
		color: #fef4e9;
		border: solid 1px #da7c0c;
		background: #f78d1d;
		background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
		background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	}
	.control_pad .content .orange:hover {
		background: #f47c20;
		background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
		background: -moz-linear-gradient(top,  #f88e11,  #f06015);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
	}
	.control_pad .content .orange:active {
		color: #fcd3a5;
		background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
		background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
	}
	.control_pad .content .green {
		color: #e8f0de;
		border: solid 1px #538312;
		background: #64991e;
		background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
		background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
	}
	.control_pad .content .green:hover {
		background: #538018;
		background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
		background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
	}
	.control_pad .content .green:active {
		color: #a9c08c;
		background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
		background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
	}
	.control_pad .content .black {
		color: #d7d7d7;
		border: solid 1px #333;
		background: #333;
		background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
		background: -moz-linear-gradient(top,  #666,  #000);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
	}
	.control_pad .content .black:hover {
		background: #000;
		background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
		background: -moz-linear-gradient(top,  #444,  #000);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
	}
	.control_pad .content .black:active {
		color: #666;
		background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
		background: -moz-linear-gradient(top,  #000,  #444);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
	}
	.control_pad .content input {
		font-size:13px;
		height:20px;
		width:40px;
		display:inline;
		vertical-align:middle;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	}
	.control_pad .content textarea {
		width:100%;
		height:200px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;		
	}
	.control_pad .content .drag_outter {
		cursor:pointer;
		width:90%;
		height:50px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border:dashed 1px #666;		
	}
	.control_pad .content .drag_input {
		height:100%;
		width:100%;
		opacity:0;	
	}
	.control_pad .content .drag_outter:hover {
		width:90%;
		height:50px;
		border:solid 1px #666;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	}
	.panel {
		z-index:1;
		position:absolute;
		width: 60px;
		height: 230px;
		left:20px;
		top:20px;
	}
	.panel .body {
		position:relative;
		width: 60px;
		height:150px;
		padding-top:5px;
		border:solid 2px #666;
		border-bottom:none;
		border-top:none;
		-webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
		-moz-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
	}
	.panel_body_icon {
		cursor:pointer;
		margin:auto auto;
		margin-bottom:5px;
		height:40px;
		width:45px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border:solid 2px #666;
		-webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
		-moz-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);		
	}
	.panel_body_text {
		text-align:center;
		line-height:40px;
		font-size:20px;
		font-weight: bold;
		text-shadow: 0px -1px #bbb,0 1px #fff; color:#666;
	}
	.panel_body_img {
		background:url(img.png);
	}
	.panel_body_flash {
		text-align:center;
		line-height:40px;
		font-size:14px;
		font-weight: bold;
		text-shadow: 0px -1px #bbb,0 1px #fff; color:#666;	
	}
	.panel .head {
		width: 60px;
		height:15px;
		border:solid 2px #666;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
		-moz-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);	
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DBF7F8), to(#88E1E6));
		background: -moz-linear-gradient(100% 100% 90deg, #88E1E6, #DBF7F8)
	}
	.panel .foot {
		width: 60px;
		height:15px;
		border:solid 2px #666;
		-moz-border-radius-bottomleft: 10px;
		-moz-border-radius-bottomright: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-webkit-border-bottom-right-radius: 10px;
		-webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
		-moz-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DBF7F8), to(#88E1E6));
		background: -moz-linear-gradient(100% 100% 90deg, #88E1E6, #DBF7F8)
	}
	.card {
		z-index:1;
		position:absolute;
		cursor:pointer;
		width: 200px;
		height: 200px;
		border:solid 2px #666;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		padding:3px;
		-webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
		-moz-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
	}
	.card .content{
		font-size:13px;
		word-wrap:break-word;
	}
	.card img {
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		height:100%;
		width:100%;
	}
	.control_button {
		display:none;
		position:absolute;
		z-index:2;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		height:50px;
		width:50px;
		background-color:#CCDD55;
		top:-25px;
		right:-25px;
	}
	.apply_button {
		cursor:pointer;
		text-shadow:0 -1px 0 rgba(0,0,0,0.5);
		font-weight:bold;
		color:#DBF7F8;
		line-height:50px;
		text-indent:4px;
		display:block;
		position:absolute;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		height:50px;
		width:50px;
		background-color:#88E1E6;
		top:-25px;
		right:-25px;
		-webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
		-moz-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
	}
	.card:hover {
		border:dashed 2px #666;
	}
	.card:active {
		border:dashed 2px #666;
	}
	.close_button_outter {
		display:none;
		position:absolute;
		left:-11px;
		top:-11px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		height:20px;
		width:20px;	
		-webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
		-moz-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
		padding:2px;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DBF7F8), to(#88E1E6));
		background: -moz-linear-gradient(100% 100% 90deg, #88E1E6, #DBF7F8)	
	}
	.close_button_inner {
		font-weight:bold;
		font-size:18px;
		text-align:center;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		height: 20px;
		width: 20px;
		text-shadow: 0px -1px #bbb,0 1px #fff; color:#e3e1e1;
		background:#fff;
	}
	.close_button_outter:hover,.close_button_outter:active{
		background:#fff;
	}
	.close_button_outter:hover .close_button_inner,.close_button_outter:active .close_button_inner{
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DBF7F8), to(#88E1E6));
		background: -moz-linear-gradient(100% 100% 90deg, #88E1E6, #DBF7F8)			
	}
	.user_frame {
		margin:100px auto;
		height:105px;
		width:250px;
		padding:5px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border:solid 2px #666;
		-webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
		-moz-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
	}
	.user {
		float:left;
		border:solid 2px #666;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		height:80px;
		width:62px;	
		padding:10px;
		-webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
		-moz-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
	}
	.user .avatar {
		border:solid 1px rgba(0, 0, 0, .3);
		width:60px;
		height:60px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		overflow:hidden;
		-webkit-box-shadow:-2px -2px 1px rgba(0, 0, 0, .6);
		-moz-box-shadow:-2px -2px 1px rgba(0, 0, 0, .6);
		-webkit-background-size:100% 100%;
		-moz-background-size:100% 100%;
		background: url(/avatar.jpg);
	}
	.user .name {
		margin-top:3px;
		width:60px;
		height:20px;
		font-size:18px;
		overflow:hidden;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		font-weight:bold;
		text-shadow: 0px -1px #666,0 1px #666; color:#7aadcb;;;
	}
	.user_frame .button_area,.user_frame .input_area {
		float:left;
		height:20px;
		width:155px;
		margin-top:5px;
		margin-left:5px;
	}
	.user_frame .input_area input {
		width:100%;
		height:30px;
		font-size:24px;
		color:#000000;
		line-height:30px;
		border:solid 2px #ff8000;;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
	}
	.user_frame .button {
		cursor:pointer;
		margin-right:3px;
		margin-left:2px;
		float:left;
		height:20px;
		width:20px;
		display:inline;	
	}
	.user_frame .button:hover {
		border:1px solid #666;
	}
	.user_frame .button:active {
		position:relative;
		top:1px;			
	}
	.user_frame .orange {
		background: #f78d1d;
		background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
		background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');		
	}
	.user_frame .black {
		color: #666;
		background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
		background: -moz-linear-gradient(top,  #000,  #444);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');			
	}
	.user_frame .blue {
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');		
	}
	.user_frame .green {
		background: #64991e;
		background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
		background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');		
	}
	.user_frame .login_button {
		cursor:pointer;
		margin-top:20px;
		text-align:center;
		border:solid 2px #666;
		float:right;
		height:20px;
		width:50px;
		color:#fff;
		background: #666;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-box-shadow:-2px -2px 1px rgba(0, 0, 0, .2);
		-moz-box-shadow:-2px -2px 1px rgba(0, 0, 0, .2);
	}
	.user_frame .login_button:hover {
		color:#666;
		background: #fff;		
	}
	.user_frame .login_button:active {
		position: relative;
		top:1px;		
	}
	.channel_tip {
		margin:0 auto;
		margin-top:0;
		text-align:center;
		height:20px;
		width:500px;
		line-height:20px;
		font-size:13px;
		color:#F47A20;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-box-shadow:-2px -2px 1px rgba(0, 0, 0, .6);
		-moz-box-shadow:-2px -2px 1px rgba(0, 0, 0, .6);
		background:	rgba(0, 0, 0, .6);
	}
	.message_icon {
		z-index:99998;
		cursor:pointer;
		width:59px;
		height:49px;
		position:fixed;
		right:20px;
		bottom:20px;
	}
	.message_icon:hover {
		border:solid #F78D1D 1px;
		-webkit-border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-moz-border-radius: 5px;	
		bottom:19px;
		right:19px;		
	}
	.message_icon:active {
		bottom:18px;
		-webkit-box-shadow:-2px -2px 1px rgba(0, 0, 0, .6);
		-moz-box-shadow:-2px -2px 1px rgba(0, 0, 0, .6);
	}
	.message_icon span{
		position:absolute;
		right:3px;
		bottom:3px;
		text-align:center;
		width:30px;
		-webkit-border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-moz-border-radius: 5px;
		height:12px;
		font-size:9px;
		font-weight:bold;
		color:#F78D1D;
		line-height:12px;
		border:solid 1px #666;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');			
	}
	.message_box {
		position:absolute;
		display:none;
		right:70px;
		bottom:70px;
		z-index:99999;
		width:500px;
		height:300px;
		padding:5px;
		border:solid 2px #666;
		-webkit-border-radius: 8px;
		background:#ffffff;
		-moz-border-radius: 8px;
		-webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
		-moz-box-shadow:2px 2px 1px rgba(0, 0, 0, .3);
	}
	.message_box .message_field {
		position:absolute;
		overflow-x:inherit;
		overflow-y:auto;
		width:98%;
		height:90%;
		bottom:10%;
	}
	.message_box .message_field .message_unit {
		
	}
	.message_box .message_field .message_unit .message_head {
		margin-top:5px;
		width:99%;
		height:35px;
	}
	.message_box .message_field .message_unit .message_head img {
		display:block;
		height:30px;
		width:30px;
		float:left;
	}
	.message_box .message_field .message_unit .message_head span {
		margin-left:10px;
		height:30px;
		line-height:30px;
		float:left;
	} 
	.message_box .message_field .message_unit .text_field {
		position:relative;
		padding:15px;
		margin:10px 0 0 0;
		text-align:center;
		color:#fff;
		/* css3 */
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
		font-size:12px;
	}
	/* creates a rectangle of the colour wanted for the pointy bit */
	.message_box .message_field .message_unit .before {
		position:absolute;
		top:-20px;
		left:30px;
		width:15px;
		height:20px;
	}
	/* creates a rounded rectangle to cover part of the rectangle generated above */
	.message_box .message_field .message_unit .text_field:after {
		content:"\00a0";
		position:absolute;
		top:-20px;
		left:30px;
		width:15px;
		height:20px;
		background:#fff;
		/* css3 */
		-moz-border-radius-bottomright:15px;
		-webkit-border-bottom-right-radius:15px;
		border-bottom-right-radius:15px;
	}
	.message_box .input_field {
		position:absolute;
		bottom:1px;
		width:98%;
	}
	.message_box .input_field input{
		margin:0;
		padding:0;
		border:solid #666 1px;
		height:20px;
		width:250px;
		line-height:20px;
		float:right;
	}
	.message_box .input_field .send_buton{
		width:40px;
		height:22px;
		color:#ffffff;
		background:#666;
		float:right;
	}
	.message_box .orange {
		background: #f78d1d;
		background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
		background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');		
	}
	.message_box .black {
		color: #666;
		background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
		background: -moz-linear-gradient(top,  #000,  #444);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');			
	}
	.message_box .blue {
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');		
	}
	.message_box .green {
		background: #64991e;
		background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
		background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');		
	}	